.App { 
    background-color: rgba(0,0,0,0.7);
    margin: auto;
    padding: 10px;
    max-width: 900px;
    -webkit-box-shadow: 10px 10px 8px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 8px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 8px -11px rgba(0,0,0,0.75);
}
